.lang {
    margin: 0 0.5rem;
    color: var(--base-color);
    font-size: 1.5rem;
    text-decoration: none;
    transition: color 0.6s;
}

.lang:hover {
    color: var(--second-color);
}

.languages-wrapper .lang-active {
    color: var(--second-color);
}
