/* import */
@import url('https://fonts.googleapis.com/css?family=Teko:400,500&display=swap&subset=latin-ext');

/* variables */
:root {
    --base-color: #f4f5f6;
    --second-color: #1ed2f4;
    --third-color: #eafc40;
    --fourth-color: #254558;
    --fifth-color: #2b2b3a;
    --sixth-color: #14a76c;
    --seventh-color: rgba(234, 31, 31, 0.7);
}

/* general */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: var(--fifth-color);
}

.wrapper {
    width: 85%;
    max-width: 1250px;
    margin: 0 auto;
    color: var(--base-color);
    font-family: 'Teko', sans-serif;
}
